<!DOCTYPE html>
<html>
  <head>
    <title>Eventsight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>"
      window.splash = "<%= image_url('splash.jpg') %>"
    </script>

    <meta property="og:title" content="Project Title" />
    <meta property='og:image' content="<%= image_url('eventsight.png') %>"/>
    <meta property="og:description"
      content="Eventsight is an Event organization application for organizers and attendees. Users are able to create, edit and join events."
    />
    <meta property="og:url"
      content="https://eventsight.herokuapp.com/"
    />
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
